
body {
    height: 100%;
    
  }

  
.container {
    width: 60%;
    
}
#heading {
    width: 100%;
    max-width: 400px;
    padding: 2px 2px;
}

#random, #score {
    width: 100%;
    height: 80px;
}

#wins_losses {
    width: 100%;
    height: 150px;
}

#message {
    width: 100%;
    max-width: 400px;
    margin: 5px auto;
}

.crystal {
    width: 100%;
    max-width: 110px;
    height: 110px;
    
    
}


.transparent {
	background: transparent url("assets/images/gem-icon.png");
}