/* #heading {
    width: 40%;
    margin: 0 auto;
    padding: 10px;
} */

body {
    margin: 0;
    height:100%;
}

.container {
    width: 60%;
    
}

#random, #score {
    width: 100%;
    height: 80px;
}

#wins_losses {
    width: 100%;
    height: 150px;
}

#message {
    width: 400px;
    margin: 5px auto;
}

.crystalDiv {
    width: 100%;
    height: 150px;
}



.transparent {
	background: transparent url("assets/images/gem-icon.png");
}